.layout {
  display: grid;
  grid-template-areas:
    'img'
    'title'
    'desc';
  grid-template-rows: max-content;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .layout {
    
    grid-template-areas:
      'img title'
      'img desc';
    grid-template-rows: max-content 1fr;
    grid-template-columns: max-content 1fr;
  }
}

.img {
  grid-area: img;
}

.title {
  grid-area: title;
}

.desc {
  grid-area: desc;
}
