.layout {
  display: grid;
  grid-template:
    'img' max-content
    'title' max-content
    'desc' max-content
    / 1fr;
}

@media (min-width: 768px) {
  .layout {
    grid-template:
      "img title" max-content
      "img desc" 1fr
      / max-content 1fr;
  }
}

.img {
  grid-area: img;
}

.title {
  grid-area: title;
}

.desc {
  grid-area: desc;
}
