@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  min-height: 100vh;
}
#__next {
  display: grid;
  grid-template-rows: repeat(3, max-content) 1fr;
}

ul,
ol,
li {
  display: block;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

ul:where(.raw),
ol:where(.raw) {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

ul:where(.raw) > li {
  display: list-item;
  list-style: disc;
}
ol:where(.raw) > li {
  display: list-item;
  list-style: decimal;
}
